<table border="1">
  <col width="1%">
  <col width="33%">
  <col width="33%">
  <col width="33%">
  <tr>
	<th>Page</th>
    <th>Baseline</th>
    <th>Test</th> 
    <th>Difference</th>
  </tr>
  <tr bgcolor="CCFF33">
	<td>1</td>
    <td><img width="100%" height="auto" alt="" src="C:\Cloud\github\workspace\temp\PdfComparer\outputs\1\img-00.jpg"></td>
    <td><img width="100%" height="auto" alt="" src="C:\Cloud\github\workspace\temp\PdfComparer\outputs\2\img-00.jpg"></td> 
    <td><img width="100%" height="auto" alt="" src="C:\Cloud\github\workspace\temp\PdfComparer\outputs\diff_Diabetic Retinopathy Detection.pdf_Diabetic Retinopathy Detection.pdf_img-00.jpg.jpg"></td>
  </tr>
  <tr bgcolor="E67373">
	<td>2</td>
    <td><img width="100%" height="auto" alt="" src="C:\Cloud\github\workspace\temp\PdfComparer\outputs\1\img-00.jpg"></td>
    <td><img width="100%" height="auto" alt="" src="C:\Cloud\github\workspace\temp\PdfComparer\outputs\2\img-00.jpg"></td> 
    <td><img width="100%" height="auto" alt="" src="C:\Cloud\github\workspace\temp\PdfComparer\outputs\diff_Diabetic Retinopathy Detection.pdf_Diabetic Retinopathy Detection.pdf_img-00.jpg.jpg"></td>
  </tr>
</table>